<!DOCTYPE html>{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'application/style.css' %}">
    <title>Опросы</title>
</head>
<body>

    <p><a href="{% url 'homepage:index' %}">На главную</a></p>

    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li>
                <a href="{% url 'application:detail' question.id %}">
                    {{ question.question_text }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Нет доступных опросов.</p>
    {% endif %}

</body>
</html>